body::-webkit-scrollbar{
    width: 10px;
    background-color:#222;
}

body::-webkit-scrollbar-track{
    background-color: #222;
}

body::-webkit-scrollbar-thumb{
    background-color: #b71c1c;
    border-radius: 50x;
    border: 3px solid #222;
}

body{
    overflow-x: hidden;
}