.card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.capa{
    width: 250px;
    border-radius: 8px;
}

.capa:hover{
    transform: scale(1.15);
    box-shadow: 0 0 5px #f44336;
    border-radius: 20px;
}

.icon{
    width: 3px;
    height: 3px;
    background-color: #00000050;
    border-radius: 10px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: 5px;
    margin-bottom: 10px;
}

.icon:hover{
    cursor: pointer;
    background-color: #000000
}

.icon img{
    width: 20px;
}