.container{
    padding-top: 84px;
    width: 100%;
    min-height: 80.4vh;
    background: #222;
    color: #fff;
    text-align: center;
}      
.container img{
    transition: transform .5s;
}

.container img:hover{
    transform: scale(1.5);
}

@media (max-width: 480px) {
    img{
        width: 80%;
    }
}

